
------------------------------------------------------------------------------
Hallo und wilkommen auf: {{ ansible_facts['fqdn'] }}.

Viel Spaß!
------------------------------------------------------------------------------
