----------------------------------------------------------------------
#  Hallo und wilkommen auf: 
#    Server:     {{ ansible_facts['fqdn'] }}.
#    IP-Adresse: {{ ansible_facts['eth0']['ipv4']['address'] }}
#  Viel Spaß!
----------------------------------------------------------------------